[user]
	email = alexmckenley@gmail.com
	name = Alex Taylor
[credential]
	helper = cache
[alias]
  s = status
  st = status
  co = checkout
  ci = commit
  br = branch
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
