[user]
	email = alexmckenley@gmail.com
	name = Alex Taylor
[credential]
	helper = cache
[alias]
  s = status
  co = checkout
  ci = commit
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[core]
	editor = vim
